html {
    scroll-behavior: smooth;
}


body {
    padding: 0;
    margin: 0;
    background-image: url(../image/bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    background-color: #ffab4b3d;

}


.logo h1 {
    font-weight: 600;
}

nav {}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding-left: 40px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    display: inline;

}


nav ul li a:hover {
    color: brown;
}


/* =======hero======== */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0 0 0;
}

.hero div h2 {
    font-family: serif;
    font-size: 50px;
    line-height: 45px;
    margin: 0;

}

.hero div h2 span {
    color: rgb(254, 194, 73);
}

.hero div button {
    padding: 15px 30px;
    background-color: rgb(254, 194, 73);
    font-weight: 600;
    border-radius: 30px;
    border: none;
    transition: 0.5s;
}

.hero div button:hover {
    background-color: rgb(241, 163, 7);
    letter-spacing: 1px;



}




.food {
    height: 300px;
    width: 400px;
}


/* ----about- section---- */

#About {
    margin: 150px 200px 50px 200px;
    text-align: center;

}

#About h2 {
    color: rgb(253, 147, 17);
}

.delivery {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    text-align: center;

}

.discount {
    background-image: url(../image/discount.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 80%;
    color: white;
    text-align: center;
    margin-left: 10%;

}

.discount h2 {
    padding-top: 40px;
}

button {
    padding: 10px 30px;
    background-color: rgb(254, 194, 73);
    font-weight: 600;
    border-radius: 30px;
    border: none;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(241, 163, 7);
    letter-spacing: 1px;
}






/* ---footer--- */

footer {
    background-image: url(../image/bg-image.png);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
    margin: 50px 0;
}