body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #fff9ea;


}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    background-color: #ffab4b3d;

}

.logo h1 {
    font-weight: 600;
}

nav {}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding-left: 40px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    display: inline;

}

nav ul li a:hover {
    color: brown;
}

section {}

section h1 {
    font-size: 30px;
    color: rgb(83, 5, 5);
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    margin: 50px;
}

#items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 50px;
}

.food {
    border: 2px solid rgba(165, 42, 42, 0.596);
    height: 400px;
    width: 350px;
    border-radius: 10px 10px 0 0;
    margin: 0 10px 50px 10px;
    background-color: rgba(252, 187, 155, 0.683);
    transition: 0.5s;


}

.food:hover {
    background-color: antiquewhite;

}

.food-1 {
    height: 300px;
    width: 350px;
    border-radius: 10px 10px 0 0;
}

.price {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;

}

.price h3 {
    margin: 0;
    padding: 0;
}

.food p {
    padding: 0 10px;
}

footer {
    background-image: url(../image/bg-image.png);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
    margin: 50px 0;
}